* {
    margin: 0%;
    padding: 0%;
    font-family: cursive;
}

.navbar {
    background: #AD0F14;
}

.navbar span {
    color: #AD0F14;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.navbar button {
    background-color: white;
}

.navbar button:active {
    background-color: white;
    color: white;
    border: none;
}

.navbar span i {
    font-size: 32px;
    margin-right: 3px;
}

.navbar span a {
    text-decoration: none;
    color: #AD0F14;
    font-size: 26px;
    font-family: Lucida Handwriting;
}

.navbar-nav {
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin: 0px 80px;
}

.navbar-nav li a {
    color: white;
    cursor: pointer;
    margin-right: 5px;
}

.navbar-nav li a:focus {
    color: white;
}

.navbar-nav li a:hover {
    color: white;
}

.navbar-nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.dropdown-menu li.dropdown {
    display: inline-block;
}

.dropdown-menu li a {
    color: #AD0F14;
    text-align: left;
    font-size: 14px;
}

.dropdown-menu li a:hover {
    background-color: white;
    color: #AD0F14;
    font-size: 16px;
}


.divsebet {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 120px;
    top: 5px;
    color: white;
    cursor: pointer;
    z-index: 2;
}

.divsebet i {
    padding-top: 15px;
    font-size: 30px;
}

.divsebetsay,
.divfavorisay {
    /* padding: 4px 9px; */
    width: 27px;
    height: 27px;
    text-align: center;
    background-color: #3c6114;
    border-radius: 100%;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 2;
}

.divfavori {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 60px;
    top: 5px;
    color: white;
    cursor: pointer;
    z-index: 2;
}

.divfavori i {
    padding-top: 15px;
    font-size: 30px;
}

.carousel-item {
    width: 100%;
    height: 745px;
}

.divcoruselalt {
    width: 100%;
    height: 10px;
    background-color: #AD0F14;
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: 70px;
}

.carousel-caption span {
    font-size: 100px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
    font-weight: 500;
}

.carousel-inner .sp1 {
    position: absolute;
    top: -520px;
    left: 120px;
    z-index: 1;
    animation-name: anm1;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.carousel-inner .sp2 {
    position: absolute;
    top: -420px;
    left: 250px;
    background-color: #AD0F14;
    padding: 0px 10px;
}

.carousel-inner .sp3 {
    position: absolute;
    top: -320px;
    left: 480px;
    animation-name: anm3;
    animation-delay: 0.5s;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes anm1 {
    from {
        left: 80px;
        opacity: 0;
    }

    to {
        left: 120px;
        opacity: 1;
    }
}

@keyframes anm3 {
    from {
        left: 520px;
        opacity: 0;
    }

    to {
        left: 480px;
        opacity: 1;
    }
}

.divfooter {
    width: 100%;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    color: white;
    box-sizing: border-box;
    /* margin-top: 10px; */
}

.divfooter .divicon i {
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
}

/* sebet favori  */
.modalsebet {
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 80px;
    position: fixed;
    top: 60px;
    z-index: 2;
    display: none;
    margin-top: 5px;
}

.modalfavori {
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.9);
    padding-top: 100px;
    position: fixed;
    top: 60px;
    z-index: 2;
    display: none;
    margin-top: 5px;
}

.sebetbagla,
.favoribagla {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 30px;
}

.modalsebetici,
.modalfavoriici {
    width: 35%;
    max-height: 800px;
    padding: 10px;
    background-color: white;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    position: relative;
}

.modalsebetHeader h3,
.modalfavoriHeader h3 {
    text-align: center;
    font-weight: 600;
}

.divsebetBody,
.divfavoriBody {
    width: 100%;
    height: 200px;
    overflow: auto;
}

.divmehsul,
.divmehsulfavori {
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divmehsulsol,
.divmehsulfavorisol {
    width: 60%;
    display: flex;
    justify-content: left;

}

.divmehsulsol p,
.divmehsulfavorisol p {
    font-size: 16px;
    font-weight: 600;
    padding-left: 5px;
}

.divmehsulsag {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divmehsulfavorisag {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.divmehsulfavorisag .addsebet {
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}

.divmehsul img,
.divmehsulfavori img {
    width: 90px;
    height: 80px;
    border: 1px solid gray;
}

.divmehsul span,
.divmehsulfavori span {
    font-size: 24px;
    font-weight: 600;
    color: #AD0F14;
}

.mehsulsil {
    font-size: 28px;
    margin-top: 5px;
    font-weight: 600;
    color: #8f8f8f;
    cursor: pointer;
}

.divsebetFooter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.divsebetFooter p {
    text-align: center;
}

.sifarisgonder {
    border: none;
    border-radius: 10px;
    padding: 5px 40px;
    background-color: #AD0F14;
    cursor: pointer;

}

.sifarisgonder a {
    text-decoration: none;
    color: white;
}

.sifarisgonder a:hover {
    color: white;
}

.divsebetFooter p {
    font-size: 20px;
    font-weight: 600;

}

.divfavoriFooter {
    text-align: center;

}


.divmehsulsayi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divmehsulsayi p {
    padding-top: 15px;
}

.divpromo {
    width: 40%;
    font-size: 14px;
}

.divpromo input {
    width: 75%;
    height: 28px;
}

.divpromo button {
    border: none;
    border-radius: 10px;
    padding: 0px 10px;
    height: 30px;
    background-color: #3c6114;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 844px) {
    *{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #esassehife {
        height: 713px;
        overflow: hidden;
    }

    #esassehife img {
        width: 1600px;
        height: 747px;
        object-fit: cover
    }

    .carousel-caption span {
        font-size: 40px;
    }

    .carousel-inner .sp1 {
        position: absolute;
        top: -480px;
        left: 20px;
        z-index: 1;
        animation-name: anm1;
        animation-delay: 0.5s;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    .carousel-inner .sp2 {
        position: absolute;
        top: -420px;
        left: 50px;
        background-color: #AD0F14;
        padding: 0px 10px;
    }

    .carousel-inner .sp3 {
        position: absolute;
        top: -360px;
        left: 100px;
        animation-name: anm3;
        animation-delay: 0.5s;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        opacity: 0;
    }

    @keyframes anm1 {
        from {
            left: 5px;
            opacity: 0;
        }

        to {
            left: 15px;
            opacity: 1;
        }
    }

    @keyframes anm3 {
        from {
            left: 120px;
            opacity: 0;
        }

        to {
            left: 100px;
            opacity: 1;
        }
    }

    .navbar-nav {
        margin: 0px;
    }

    .navbar span {
        padding: 3px;
    }

    .navbar span a {
        font-size: 24px;
        font-family: cursive;
    }

    .navbar span i {
        font-size: 20px;
    }

    .divfavori,
    .divsebet {
        width: 30px;
        height: 30px;
    }

    .divsebet {
        position: absolute;
        left: 235px;
        top: 0px;
    }

    .divfavori {
        position: absolute;
        left: 277px;
        top: 0px;
    }

    .divsebetsay,
    .divfavorisay {
        width: 24px;
        height: 24px;
        right: -12px;
    }

    .modalfavori,
    .modalsebet {
        height: 880px;
        margin-top: -10px;
    }

    .modalfavoriici,
    .modalsebetici {
        width: 90%;
    }

    .modalsebetici .sifarisgonder,
    .modalsebetici p {
        width: 80%;
        margin: auto;
    }

    .divmehsulsag {
        width: 30%;
    }

    .divmehsulfavorisag {
        width: 35%;
        height: 20px;
    }

    .divmehsulfavorisag .addsebet {
        padding: 8px;
    }

    .divmehsulfavorisag .mehsulsil {
        width: 30%;
        padding-left: 10px;
    }

    .qutu .divqiymet {
        width: 60px;
        height: 60px;
        padding-top: 10px;
    }
}